<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee ;http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>ConsoleServlet</servlet-name>
		<servlet-class>es.Salesianos.servlet.ListConsolasServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConsoleServlet</servlet-name>
		<url-pattern>console</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VideoGamesServlet</servlet-name>
		<servlet-class>es.Salesianos.servlet.ListVideoJuegosServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VideoGamesServlet</servlet-name>
		<url-pattern>videogame</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VideoGameDataListServlet</servlet-name>
		<servlet-class>es.Rafa.servlet.ListVideoJuegoMarcasServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VideoGameDataListServlet</servlet-name>
		<url-pattern>dataGames</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConsoleDataListServlet</servlet-name>
		<servlet-class>es.Rafa.servlet.ListConsolasMarcasServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConsoleDataListServlet</servlet-name>
		<url-pattern>dataConsoles</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>AltaConsola.jsp</welcome-file>
	</welcome-file-list>


</web-app>